Options +FollowSymLinks -MultiViews

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [NC, L]

<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule ^Uni-Projects(/.*|)$ $1 [L,NC]
</IfModule>

